@import "_variables.scss";

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;   
    font-family: 'Poppins', sans-serif;
}

header {
    .header_container {
        margin: 0 auto 50px;
        text-align: center;
        img {
            height: 200px;
            // border: solid 1px red;
        }
    }
}

.table_container {
    margin: 0 25px;

    h2 {
        text-align: center;
        font-size: 5rem;
        text-transform: capitalize;
        width: auto;
    }

    .car_container {

        .car_item {
        
            .car_header {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                background-color: #bbb;
                border-radius: 10px;
                text-align: left;
                h3 {
                    display: inline-block;
                    padding: 0 0 0 25px;
                    border: 0;
                    font-size: 4rem;
                    height: 100%;
                    width: 80%;
                    text-transform: capitalize;
                    // border: solid 1px orange;
                }
                i {
                    display: inline-block;
                    font-size: 5rem;
                    width: 20%;
                    margin: auto 0;
                }
            }
        }

        table {
            text-align: center;
            font-size: 20px;
            margin: 0 auto;
            padding: 0;
            border-spacing: 0px;
            
            tr {
                margin: 0;
                padding: 0;

                th {
                    font-size: 30px;
                    padding-bottom: 20px;
                    border: solid $table_border_width $table_border_color;
                    border-right: none;
                    border-bottom: none;
                }

                th:first-of-type {
                    width: 20%;
                }

                th:nth-of-type(2) {
                    width: 60%;
                }

                th:last-of-type {
                    border-right: solid $table_border_width $table_border_color;
                }

                td {
                    border-top: solid $table_border_width $table_border_color;
                    border-left: solid $table_border_width $table_border_color;
                    margin: 0;
                    padding: 10px;
                }

                td:last-of-type {
                    border-right: solid $table_border_width $table_border_color;
                }

                .charging {
                    background-color: green;
                }

                .last_kwh {
                    border-right: none;
                }
            }


            tr:last-of-type {
                td {
                    border-bottom: solid $table_border_width $table_border_color;
                }
            }

        }
    }

    .car_create_container {
        form {
            margin: 20px 0;
            label, input, p {
                font-size: 2.4rem;
                margin-bottom: 10px;
                width: 100%;
                margin: 10px 0;
            }
            label {
                font-size: 3.2rem;
            }
            input {
                padding: 10px;
                margin-bottom: 40px;
                border-radius: 3px;
                border: solid 1px grey;
            }

            .error {
                color: red;
                font-size: 2.4rem;
                text-transform: capitalize;
            }
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }
        }
        .create_vehicle {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 3rem;
            // margin: 0 0 25px;
            padding: 20px 0;
            background-color: #555;
            border: solid 3px grey;
            border-radius: 10px;
            color: white;

            &:hover {
                background-color: #333;
            }
        }
    }
}

@import "_index_media.scss";